.card-equal {
    aspect-ratio: 9 / 16; /* portrait */
    overflow: hidden;
    border-radius: 15px;
    width: 270px; /* adjust size */
    height: 90%;
    margin: auto; /* center inside column */

  }

  .card-equal img {
    height: 100%;
    object-fit: cover;          /* Make sure image covers card */
    transition: transform 0.5s ease;
    width: 100%;

  }

  .card-equal:hover img {
    transform: scale(1.1);      /* Zoom effect */
  }

  .card-img-overlay {
    background: rgba(0, 0, 0, 0.4);  /* Dark overlay for readability */
    transition: background 0.3s ease;
  }

  .card-equal:hover .card-img-overlay {
    background: rgba(0, 0, 0, 0.6);
  }
.mt-11{
    margin-top: 10rem;
}